.Form {
  height: 50vh;
  margin: 1rem;
}

.Form label {
  width: 120px;
  display: inline-block;
  color: white;
}

.Form div {
  display: block;
  margin: 1rem 0;
}

.Form input,
.Form select,
.Form textarea {
  width: 12rem;
  height: 2rem;
  border: 0;
  border-radius: 5px;
}

.Form textarea {
  height: 3rem;
}

.Form select,
.Form input[type="submit"] {
  margin-left: 120px;
}

.Form input[type="submit"] {
  background-color: green;
}
