* {
  margin: 0;
  padding: 0;
}

.Modal {
  background-color: white;
  height: 60vh;
  width: 50vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black 2px solid;
}

.Modal .Heading {
  display: inline-block;
  margin: 10px 0;
}

.Modal .Input {
  display: inline-block;
}
