.Notelist {
  display: inline-block;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 40rem;
  left: 1rem;
}

.Notelist li {
  margin: 0.5rem;
}

.Notelist p {
  display: inline-block;
}
